.logo 
{
  background-color:#5874FF;
}


.nav a 
{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron 
{
  background-image: url('../images/0.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1
{
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p 
{
  font-size: 20px;
  color: #fff;
}

.projects
{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.projects h1
{
    color:#393c3d;
    font-size:24px;
}

.neighborhood-guides p
{
    font-size:15px;
    margin-bottom:13px;
}

.sticky 
{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

ul i
{
  padding-right: 5px;
} 

ul li 
{
  padding-right: 12px;
}
.collapse .fa-lg
{
  vertical-align: 0%;
}

.social li
{
  list-style: outside none none;
}

.social
{
  display:flex;
  padding-top: 14px;
}

.padding
{
  padding-top: 50px;
}